---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//$link-color: mix(#fff, rgb(40, 40, 40), 25%);
$link-color: rgb(40, 40, 40);


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
// your styles here

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.greedy-nav {
  position: relative;
  min-width: 250px;
  background: $background-color;

  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: $masthead-link-color;
    text-decoration: none;

    &:hover {
      color: $masthead-link-color-hover;
    }
  }
